body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#js-input {
    margin: 15px 0 10px 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

#js-result {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

#js-button {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}